.accordion {
  &Title {
    border: 1px solid white;
    padding: 0.5rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2px;

    &:after {
      background: url(/icons/ExpandMore.svg);
      background-size: cover;
      display: inline-flex;
      content: " ";
      width: 25px;
      height: 25px;
    }
  }
  &Content {
    padding: 0.5rem;
    display: none;
    transition: all 1s;
    height: 0;
  }
  &.expanded {
    .accordionTitle {
      &:after {
        content: " ";
        background: url(/icons/ExpandLess.svg);
        background-size: cover;
      }
    }
    .accordionContent {
      display: block;
      height: 100%;
    }
  }
}
