@import "../../../styles/scss/colors.scss";

.navigation {
  background: url(../../../public/images/bg-header2.png) repeat-x top center;
  margin: 0;
  padding: 0;
  .navigationTop {
    .navigationOverlay {
      height: 6.7rem;
      margin: 0 auto;
      padding: 49px 0 0;
      position: relative;
      width: 960px;
      z-index: 5;
    }
  }
  a.logo {
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 540px;
    font-size: 5rem;
    font-family: 'Arkhip';
    color: $white;
    text-shadow: 3px 3px $logo_shadow;
    padding-top: 4rem;
  }
  ul {
    background: url(../../../public/images/bg-navigation.png) no-repeat center center;
    bottom: -107px;
    height: 105px;
    left: 30px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 1.2rem;
    position: absolute;
    width: 900px;
    z-index: 1;
    li {
      display: block;
      float: left;
      list-style: none;
      margin: 3px 5px;
      padding: 0;
      a {
        background: url(../../../public/images/menu.png) no-repeat;
        color: $color_2;
        display: block;
        font-family: $font-family_2;
        font-size: 16px;
        font-weight: normal;
        height: 98px;
        letter-spacing: 0.07em;
        line-height: 104px;
        margin: 0;
        padding: 0;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        width: 163px;
        &:hover {
          color: $white;
        }
      }
      .menu1 {
        background-position: 0 0;
        &:hover {
          background-position: 0 -113px;
        }
      }
      .menu2 {
        background-position: -168px 0;
        &:hover {
          background-position: -168px -113px;
        }
      }
      .menu3 {
        background-position: -335px 0;
        &:hover {
          background-position: -335px -113px;
        }
      }
    .menu4 {
        background-position: -502px 0;
        &:hover {
          background-position: -502px -113px;
        }
      }
      .menu5 {
        background-position: -669px 0;
        &:hover {
          background-position: -669px -113px;
        }
      }
    }
    li.selected {
      a {
        color: $white;
      }
      .menu1 {
        background-position: 0 -113px;
      }
      .menu2 {
        background-position: -168px -113px;
      }
      .menu3 {
        background-position: -335px -113px;
      }
      .menu4 {
        background-position: -502px -113px;
      }
      .menu5 {
        background-position: -669px -113px;
      }
    }
  }
}
.navigationTop {
  background: url(../../../public/images/bg-header.png) no-repeat top center;
  margin: 0;
  padding: 0;
}
