@import "../../../styles/scss/colors.scss";

.navigation {
  margin: 0;
  padding: 0;
  z-index: 5;
  position: relative;
  margin-bottom: -2rem;

  .navigationTop {
    margin: 0;
    padding: 0;

    .navigationOverlay {
      margin: 0 auto;
      position: fixed;
      width: 960px;
      z-index: 1;
      top: 0;
      width: 100%;
    }
  }

  ul {
    height: 77px;
    left: 30px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    position: absolute;
    z-index: 2;
    top: -1.5rem;
    box-shadow: 2px 2px 5px black;
    left: 50%;
    transform: translateX(-50%);
    width: 810px;

    li {
      display: block;
      float: left;
      list-style: none;
      padding: 0;
      a {
        background: url(../../../public/images/Menu2.png) no-repeat;
        color: $color_2;
        display: block;
        font-family: $font-family_2;
        font-size: 16px;
        font-weight: normal;
        height: 98px;
        letter-spacing: 0.07em;
        line-height: 104px;
        margin: 0;
        padding: 0;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        width: 162px;
        &:hover {
          color: $white;
        }
      }
      .menu1 {
        background-position: -11px 0;
        &:hover {
          background-position: -11px -113px;
        }
      }
      .menu2 {
        background-position: -173px 0;
        &:hover {
          background-position: -173px -113px;
        }
      }
      .menu3 {
        background-position: -335px 0;
        &:hover {
          background-position: -335px -113px;
        }
      }
      .menu4 {
        background-position: -497px 0;
        &:hover {
          background-position: -497px -113px;
        }
      }
      .menu5 {
        background-position: -659px 0;
        &:hover {
          background-position: -659px -113px;
        }
      }
    }
    li.selected {
      a {
        color: $white;
      }
      .menu1 {
        background-position: -11px -113px;
      }
      .menu2 {
        background-position: -173px -113px;
      }
      .menu3 {
        background-position: -335px -113px;
      }
      .menu4 {
        background-position: -497px -113px;
      }
      .menu5 {
        background-position: -659px -113px;
      }
    }
  }
}

.article {
  .navigation {
    margin-bottom: 0;
  }
}
