$dark-bg-color: #04252f;
$light-color: #f2f3f3;
$primary-color: #16b0df;
$primary-color-highlight: #1ac7fc;
$primary-dark-color: #042f1f;

// TODO: Cleanup colors
$white: #ffffff;
$color_2: #a8a8a8;
$color_4: #797979;
$color_5: #a3a3a3;
$color_6: #727272;
$color_7: #bababa;
$color_8: #a7a9ac;
$color_9: #4e5151;
$font-family_1: Arial, Helvetica, sans-serif;
$font-family_2: "Philosopher-Bold";
$font-family_3: "Philosopher-Regular";
