$light-color: #f2f3f3;
$primary-color: #16b0df;
$primary-color-highlight: #1ac7fc;
$primary-dark-color: #042f1f;

$gold-light: #f0dc9c;
$gold: #c9a14e;
$gold-dark: #6e5222;
$gold-gradient: linear-gradient(135deg, $gold-dark, $gold-light 30%, $gold 55%, $gold-light 80%, $gold-dark);

$white: #ffffff;
$color_2: #a8a8a8;
$color_5: #a3a3a3;
$color_7: #bababa;
$color_9: #4e5151;
$font-family_1: Arial, Helvetica, sans-serif;
$font-family_2: "Philosopher-Bold";
$font-family_3: "Philosopher-Regular";
