@import "../../styles/scss/colors.scss";

.backgroundWrap {
  background: url(../../public/images/bg-page.jpg) no-repeat top center;
  margin: 0;
  padding: 0;
}

.main {
  background: url(../../public/images/bg-body-header.png) no-repeat top center;
  margin: 0 auto;
  padding: 112px 0 0;
  width: 960px;
  p {
    margin: 0;
    padding: 0;
    &.mb1 {
      margin-bottom: 1rem;
    }
  }
  .bodyWrapper {
    background: url(../../public/images/bg-body-footer.png) no-repeat bottom center;
    margin: 0;
    padding: 0 0 114px;
    margin-top: -14px;
  }
  .bodyContent {
    // background: url(../../public/images/bg-body2.png) repeat-y top center;
    background: transparent;
    margin: 0;
  }
  .heroImage {
    position: relative;
    height: 440px;
    top: -315px;
    margin-bottom: -100px;
  }
  section {
    background: url(../../public/images/border.gif) repeat-x top left;
    // margin: 0 10px;
    padding: 3px 0 0;
    position: relative;
    display: block;
    margin-top: 10px;
    
    h3 {
      background: #070707 url(../../public/images/gradient3.png) repeat-x top center;
      border: 1px solid #22272a;
      color: $white;
      font-family: $font-family_2;
      font-size: 1.6rem;
      font-weight: normal;
      height: 50px;
      letter-spacing: 0.07em;
      line-height: 50px;
      margin: 0 0 1px;
      padding: 0 19px;
      text-transform: uppercase;
    }

    h4 {
      font-size: 1.6rem;
      margin-bottom: 1rem;
      margin-top: 0;
    }
    
    ul {
      background: $dark-bg-color;
      border: 1px solid #22272a;
      margin: 0;
      overflow: hidden;
      padding: 0;
      li {
        list-style: none;
        margin: 0;
        padding: 0;
        line-height: 30px;
      }
      li.card {
        min-height: 150px;
      }
      li > div {
        padding: 20px;
      }
    }
  }
  &.mainNoLinks {
    padding: 55px 0 0;
  }
}

.footer {
  background: url(../../public/images/bg-footer2.png) repeat-x bottom left;
  margin: 0;
  padding: 0;
  .footerContent {
    background: url(../../public/images/bg-footer.png) no-repeat bottom center;
    margin: 0;
    text-align: center;
    padding-top: 7rem;
    min-height: 18.5rem;
  }
  ul {
    display: block;
    margin: 0 auto;
    padding: 0 0 65px;
    overflow: hidden;
    width: 351px;
    li {
      display: block;
      float: left;
      list-style: none;
      margin: 0 22px;
      padding: 0;
      a {
        background: url(../../public/images/icons.png) no-repeat;
        color: $white;
        display: block;
        line-height: 73px;
        height: 73px;
        text-decoration: none;
        text-indent: -99999px;
        width: 73px;
      }
    }
    #facebook {
      a {
        background-position: 0 0;
        &:hover {
          background-position: -78px 0;
        }
      }
    }
    #twitter {
      a {
        background-position: 0 -78px;
        &:hover {
          background-position: -78px -78px;
        }
      }
    }
  }
  p {
    color: $color_4;
    font-size: 1.2rem;
    text-align: center;
    text-transform: capitalize;
  }
}

.flex {
  display: flex;
  justify-content: center;
}

.mR10 {
  margin-right: 10px;
}

.mL10 {
  margin-left: 10px;
}

.mL20 {
  margin-left: 20px;
}

.mB10 {
  margin-bottom: 10px;
}

.vAlignTop {
  vertical-align: top;
}

.thirtyW {
  width: 30%;
}

.thirdW {
  width: 33%;
}

.fourtyW {
  width: 40%;
}

.fiftyW {
  width: 50%;
}

.seventyW {
  width: 70%;
}

.fullW {
  width: 100%;
}

.minHeight250 {
  min-height: 250px;
}

.miniGrid {
  h2, h4 {
    min-height: 60px;
  }
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.tCenter {
  text-align: center;
}

.inline {
  display: inline-block;
}

.fontArkhip {
  font-family: 'Arkhip';
}

.fontPhilosopher {
  font-family: 'Philosopher';
}

.emphasisCtn {
  padding: 20px;
  border: 3px solid $color_5;
  border-radius: 5px;
  font-size: 16px;
}

p.medWPadding, .medWPadding {
  padding: 0 20px;
}

p.xsWPadding, .xsWPadding {
  padding: 0 5px;
}

.darkThinBorder {
  border: 2px solid $color_9;
  border-radius: 2px;
}

.lightThinBorder {
  border: 2px solid $color_7;
  border-radius: 2px;
}
