@import "../../styles/scss/colors.scss";

.backgroundWrap {
  background: url(../../public/images/bg-page.jpg) no-repeat top center;
  margin: 0;
  padding: 0;
}

.main {
  background: url(../../public/images/bg-body-header.png) no-repeat top center;
  margin: 0 auto;
  padding: 112px 0 0;
  width: 960px;
  p {
    margin: 0;
    padding: 0;
    a {
      color: $color_4;
      &:hover {
        color: $color_5;
      }
    }
    &.mb1 {
      margin-bottom: 1rem;
    }
  }
  .bodyWrapper {
    background: url(../../public/images/bg-body-footer.png) no-repeat bottom center;
    margin: 0;
    padding: 0 0 114px;
  }
  .bodyContent {
    background: url(../../public/images/bg-body2.png) repeat-y top center;
    margin: 0;
    padding: 5px 0;
  }
  .heroImage {
    position: relative;
    height: 440px;
    top: -315px;
  }
  section {
    background: url(../../public/images/border.gif) repeat-x top left;
    margin: 0 10px;
    padding: 3px 0 0;
    position: relative;
    display: block;
    
    h3 {
      background: #070707 url(../../public/images/gradient3.png) repeat-x top center;
      border: 1px solid #22272a;
      color: $color_1;
      font-family: $font-family_2;
      font-size: 16px;
      font-weight: normal;
      height: 50px;
      letter-spacing: 0.07em;
      line-height: 50px;
      margin: 0 0 1px;
      padding: 0 19px;
      text-transform: uppercase;
    }
    
    ul {
      background: #181818;
      border: 1px solid #22272a;
      margin: 0;
      overflow: hidden;
      padding: 0;
      li {
        list-style: none;
        margin: 0;
        padding: 0;
        line-height: 1.5rem;
      }
      li.card {
        min-height: 150px;
      }
      li > div {
        padding: 20px;
      }
    }
  }
}

.footer {
  background: url(../../public/images/bg-footer2.png) repeat-x bottom left;
  margin: 0;
  padding: 0;
  .footerContent {
    background: url(../../public/images/bg-footer.png) no-repeat bottom center;
    margin: 0;
    text-align: center;
    padding-top: 7rem;
    min-height: 18.5rem;
  }
  ul {
    display: block;
    margin: 0 auto;
    padding: 0 0 65px;
    overflow: hidden;
    width: 351px;
    li {
      display: block;
      float: left;
      list-style: none;
      margin: 0 22px;
      padding: 0;
      a {
        background: url(../../public/images/icons.png) no-repeat;
        color: $color_1;
        display: block;
        line-height: 73px;
        height: 73px;
        text-decoration: none;
        text-indent: -99999px;
        width: 73px;
      }
    }
    #facebook {
      a {
        background-position: 0 0;
        &:hover {
          background-position: -78px 0;
        }
      }
    }
    #twitter {
      a {
        background-position: 0 -78px;
        &:hover {
          background-position: -78px -78px;
        }
      }
    }
  }
  p {
    color: $color_9;
    font-size: 12px;
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: capitalize;
  }
}
